@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
}

header {
  border-bottom-width: 10px solid #000;
  background: #eeeeee;
  height: 100px;
  display: flex;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  /*background: #eeeeee;
  width: 1440px;
  height: 103px;
  display: flex;
  align-items: center;*/
}
.logo{
    width: 100px;
    height: 100px;
}
.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

img {
  margin: 20px;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 20px;
  font-family: Comfortaa;
  font-style: Regular;
}

.logo {
  margin-left: 5rem;
  margin-right: 61rem;
}
.home-container{
    background-color: #5ac7bd;
}
.search{
    width: 200px;
}
.footer {
  background: #eeeeee;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black;
  font-family: Comfortaa;
  font-style: Regular;
  font-size: 18px;
  position: sticky;
  bottom: 0px;
}

.modal .modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  text-align: center;
  padding: 10px;
  background-color: #fffefa;
  border-width: 3px;
  border-style: solid;
  border-color: #5ac7bd;
  border-radius: 10px;
  -webkit-box-shadow: 24px;
  box-shadow: 24px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal .modal-container #close-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.modal .modal-container #title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal .modal-container #title-container #title {
  font-weight: 700;
  width: 70%;
}

.form-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.form-login #input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 85%;
}

.form-login #input-container input {
  font-size: 20px;
  background-color: #fed3d52f;
  -webkit-box-shadow: 0 5px 5px 0px #b1afafa8 inset;
  box-shadow: 0 5px 5px 0px #b1afafa8 inset;
  height: 45px;
  width: 100%;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
  border-width: 1px;
  border-color: #5ac7bd;
  border-style: solid;
  outline: none;
}

.form-login #input-container button {
  margin: 35px;
  background-color: #5ac7bd;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  border-color: transparent;
}
